<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAybMI5SZz5EPNa_mR22XxpElujpnwhOA</string>
	<key>GCM_SENDER_ID</key>
	<string>874411431049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2026.StepGame</string>
	<key>PROJECT_ID</key>
	<string>fitgame-c29b1</string>
	<key>STORAGE_BUCKET</key>
	<string>fitgame-c29b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874411431049:ios:16e5ce24c29099c7cd6258</string>
</dict>
</plist>